<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>VUE</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/estilos.css" />
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
        <header class="bg-success text-center text-white">
            <span class="h2">VUE</span>
        </header>

        <section class="container-fluid text-center" id="contenedor">
            <div class="row">
                <h2 class="col-12">VUE API PERSONAJES DRAGON BALL</h2>

                <div class="card-col-3" v-for="personaje ln personajesfiltrwados" :key="personaje.id" class="col-md-6 offset-md-3"></div>
                
            <div class="carol col-2" v-for="personaje.image" title:="personaje.name"></div>
                

        <footer class="bg-dark text-center text-white">
            <div class="continer d files justify-content-between"></div>
            <button class="btn filiter-btn " @click= "filtarPorCategotia()" > Saiyans </button>  
            <span class="h2">Frameworks</span>
        </footer>

        <script src="js/vue3.js"></script>
        <!--https://github.com/axios/axios-->
        <script src="js/funciones.js"></script>
    </body>
</html>
